// *** Nuancier
$color-1: #ff0000;
$color-2: rgb(142, 14, 0);
$color-3: #6c757d;
$color-4: #333;
$color-5: #ea3636;
$color-6: #ffee00;
$white: rgb(243, 243, 243);
$black: #000000;

// *** Style particulier
$borderRadius: 25px;
$shadow: 0 1px 3px #333;
$minHeight: 95vh;